.appBar_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(white, rgb(88, 136, 209));
  border-bottom: 1px solid grey;
  box-shadow: rgb(33, 33, 33) 0px 2px 10px 1px;
  font-size: 24px;
  font-weight: 700;
}
